footer.footer
  .footer__wrapper
    .footer__copyright
      p='© 2021 All rights reserved'
      //- a(href=PrismicDOM.asLink('https://www.juliscapucin.com') target='_blank')='Website by JScapucin'
      a.external__link(href='http://www.juliscapucin.com' target='_blank')='Website by JScapucin'


    //- .footer__socials
    //-   .footer__socials__title='Socials:'
    //-   ul.footer__socials__menu
    //-     li='Facebook'
    //-     li='Instagram'
    //-     li='Linkedin'