.contact {
  @extend %page;
  // @extend %mask;
  position: relative;
}

.contact__container {
  @extend %main-container-row;
}

.contact__left,
.contact__right {
  width: 50vw;
  height: 100%;
}

.contact__arrow__container {
  @extend %container-arrow;
  background-color: $color-taupe;
  color: $color-mediumred;
  fill: currentColor;
}

.contact__pixels {
  @extend %container-square;
  background-color: $color-darkred;
}

.contact__info__container {
  @extend %container-square;
  background-color: $color-mediumred;
}

.contact__blank {
  @extend %container-square;
  background-color: $color-darkestred;
}
