<svg xmlns="http://www.w3.org/2000/svg" width="2447.221" height="1113.149" viewBox="0 0 2447.221 1113.149">
  <path id="Path_20" data-name="Path 20" d="M1890.647,0l-47.035,47.042,476.281,476.274H0v66.517H2319.9l-476.289,476.289,47.035,47.027,556.574-556.574Z" transform="translate(0 0)"/>
</svg>